.equipment_icon_aid_click___WKQxZ {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -147px 0;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_aid_default___MPs_B {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -147px -45px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_aid_hover___2g-Wr {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: 0 -121px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_electrode_click___2h8hs {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -45px -121px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_electrode_default___5jKBT {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -90px -121px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_eq_click___GwonY {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -135px -121px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_eq_default___3WJ2p {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -192px 0;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_gas_click___2QiJ0 {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -192px -45px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_gas_default___J7kJ4 {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -192px -90px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_liquid_click___3MSYW {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: 0 -166px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_electro_liquid_default___3JT0d {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -45px -166px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_gas_click___2jFXd {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -90px -166px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_gas_default___1_qbw {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -135px -166px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_gas_hover___rC-6U {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -180px -166px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_liquid_click___N5HLa {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -237px 0;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_liquid_default___2urK- {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -237px -45px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_liquid_hover___Y0CsQ {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -237px -90px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_open_default___3_a1a {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -298px -39px;
    width: 10.5px;
    height: 68.5px;
    background-size: 316px 258px
}

.equipment_icon_put-away_default___1SHxy {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -39px;
    width: 11px;
    height: 68.5px;
    background-size: 316px 258px
}

.equipment_icon_reactor_click___23J6K {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -237px -135px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_reactor_default___g5F3B {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: 0 -211px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_reactor_hover___1fUdv {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -45px -211px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_solid_click___1GJ4c {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -90px -211px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_solid_default___3NrBQ {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -135px -211px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.equipment_icon_solid_hover___1BqmT {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -180px -211px;
    width: 40px;
    height: 40px;
    background-size: 316px 258px
}

.icon_keyboard_def___23e0M {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -225px -211px;
    width: 34px;
    height: 34px;
    background-size: 316px 258px
}

.icon_keyboard_hov___1fniq {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px 0;
    width: 34px;
    height: 34px;
    background-size: 316px 258px
}

.lock___2rDz_ {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -112.5px;
    width: 24px;
    height: 24px;
    background-size: 316px 258px
}

.qicaiku_button_back_default___3OkDA {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -60px 0;
    width: 24px;
    height: 116px;
    background-size: 316px 258px
}

.qicaiku_button_back_pressed___3d46F {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -89px 0;
    width: 24px;
    height: 116px;
    background-size: 316px 258px
}

.qicaiku_button_default___3cCz4 {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: 0 0;
    width: 25px;
    height: 116px;
    background-size: 316px 258px
}

.qicaiku_button_hover___202IL {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -30px 0;
    width: 25px;
    height: 116px;
    background-size: 316px 258px
}

.qicaiku_button_pressed___urnvD {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -118px 0;
    width: 24px;
    height: 116px;
    background-size: 316px 258px
}

.search_icon_line_default___Y0CHD {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: 0 -256px;
    width: 60px;
    height: 2px;
    background-size: 316px 258px
}

.search_icon_search_Hover___3wL44 {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -141.5px;
    width: 24px;
    height: 24px;
    background-size: 316px 258px
}

.search_icon_search_default___BP3rG {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -170.5px;
    width: 24px;
    height: 24px;
    background-size: 316px 258px
}

.tanchuang_close___w72aj copy {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -199.5px;
    width: 16px;
    height: 16px;
    background-size: 316px 258px
}

.tanchuang_close___w72aj {
    background-image: url(static/equipmentDrawer_sprite.37985266.png);
    background-position: -282px -220.5px;
    width: 16px;
    height: 16px;
    background-size: 316px 258px
}

.item___1thvy {
    width: 116px;
    height: 116px;
    margin: 5px;
    background: rgba(26, 27, 28, .15);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border: 1px solid rgba(26, 27, 28, .25);
    border-radius: 8px
}

.item___1thvy .lockWrap___18q_Z {
    position: absolute;
    top: 15px;
    right: 20px
}

.item___1thvy .lockWrap_Second___Mvwyf {
    top: 38px
}

.item___1thvy.hover___3bZcR {
    background: rgba(0, 0, 0, .15);
    border: 1px solid #4b515e
}

.item___1thvy .img_wrap___3cryq {
    display: flex;
    justify-content: center
}

.item___1thvy .img_wrap___3cryq .img___14Shq {
    width: 80px;
    height: 80px;
    background-size: auto
}

.item___1thvy .h5___1kqNt {
    position: absolute;
    bottom: 0 !important;
    left: 10%;
    display: -webkit-box;
    width: 80%;
    overflow: hidden;
    color: #ccc;
    font-size: .8rem;
    line-height: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.item___1thvy .h5___1kqNt:hover {
    overflow: visible;
    text-overflow: inherit;
    word-break: normal;
    -webkit-line-clamp: inherit
}

.threeModel___x7jqF {
    display: flex;
    align-items: center;
    justify-content: center
}

.threeModel___x7jqF svg {
    width: 25px;
    height: 20px;
    transition: transform .35s
}

.threeModel___x7jqF:hover svg {
    transform: scale(1.5)
}

.eqAnimationLeft___3ouY0 {
    animation: eqRotate___3m7X0 1s ease-in-out .01s forwards
}

.eqAnimationRight___3Uqkn {
    animation: eqRotate___3m7X0 1s ease-in-out .01s reverse forwards
}

.wrap___1DjSN {
    display: block;
    height: calc(100% - 46px);
    position: absolute;
    top: 46px;
    right: 2px;
    overflow-y: auto
}

.wrap___1DjSN .messTitle___1U67B {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    word-wrap: break-word;
    width: 260px
}

.wrap___1DjSN .messTitle___1U67B .mess1___3sJcf {
    color: #f9f9f9
}

.wrap___1DjSN .messTitle___1U67B .mess2___C6_Ys {
    color: var(--them_color);
    cursor: pointer
}

.compHide___2b6B3 {
    display: none
}